<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JJSSEntities" connectionString="metadata=res://*/JJSS_Model.csdl|res://*/JJSS_Model.ssdl|res://*/JJSS_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMILIOBUCHA\SQLEXPRESS;initial catalog=JJSSDB1;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>