<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JJSSEntities" connectionString="metadata=res://*/JJSS_Model.csdl|res://*/JJSS_Model.ssdl|res://*/JJSS_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JJSSDB1.mssql.somee.com;initial catalog=JJSSDB1;persist security info=False;user id=emiliobucha_SQLLogin_1;password=lvb64ht8bh;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>